* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 15px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.counter-container {
  padding: 1rem 2rem;
  border: 2px solid salmon;
  width: 70vw;
  min-width: 360px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

header h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 3rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid lightgray;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.counter {
  font-weight: 900;
  font-size: 12rem;
}

button {
  padding: .5rem 1rem;
  font-size: 1.5rem;
  background-color: transparent;
  border: 2px solid salmon;
  border-radius: .5rem;
  font-weight: bold;
  text-transform: uppercase;
}

button:hover {
  cursor: pointer;
  background-color: salmon;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

@media (max-width:768px) {
  .counter {
    font-size: 8rem;
  }

  button {
    font-size: 1rem;
  }

  .counter-container {
    min-width: 240px;
  }

}

@media (max-width:480px) {
  .counter-container {
    width: 100%;
  }

  footer {
    gap: 1rem
  }
}