* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 15px;
  font-family: cursive;
}

body {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  min-height: 100vh;
}

.container {
  padding: 1rem 2rem;
  width: 80vw;
  max-width: 1200px;
  margin: 0 auto;
  background-color: lightgreen;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .logo {
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.logo p {
  font-size: 2rem;
}

.todo-form {
  display: flex;
  align-items: center;
}

.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem 1rem;
  width: 60vw;
  margin: 0 auto;
  background-color: lightgray;
}

.todo p {
  font-size: 1.5rem;
  font-weight: bold;

}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
}

.buttons svg {
  height: 3rem;
  width: 3rem;
}

.buttons svg:hover {
  cursor: pointer;
}

input[type=checkbox] {
  height: 2rem;
  width: 2rem;
}

input[type=checkbox]:hover {
  cursor: pointer;
}

main {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

input {
  width: 100%;
  padding: .5rem 1rem;
  border-radius: .5rem;
  outline: none;
  border: unset;
}

main span {
  padding: .5rem;
}

button {
  padding: .5rem 1rem;
  font-size: 1rem;
  background-color: transparent;
  border: 2px solid salmon;
  border-radius: .5rem;
  align-self: flex-start;
}

button:hover {
  cursor: pointer;
  font-weight: bold;
  background-color: salmon;
}

svg {
  height: 2.5rem;
  width: 2.5rem;
}

@media(max-width:768px) {
  .container {
    width: 100%;
    padding: 1.5rem 0.5rem;
  }

  .todo {
    width: 100%;
    background-color: lightgray;
  }

  .todo-form {
    width: 100%;
  }

  header {
    flex-direction: column;
    gap: 1rem;
  }

  .logo p {
    font-size: 1.5rem;
  }
}

@media(max-width:480px) {
  .container {
    padding-left: 0;
    padding-right: 0;
  }

  .todo-form {
    margin-top: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
  }

  .todo-form input {
    font-size: 1.5rem;
    border-radius: unset;
  }

  .todo-form button {
    align-self: center;
  }
}