* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 15px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: lightgoldenrodyellow;
}

.calc-container {
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem 1.5rem;
  gap: .5rem;
  color: black;
  font-weight: bold;
  min-width: 360px;
  width: 70%;
}

.calc-container header {
  font-size: 4rem;
  padding: 1rem 0;
  width: 100%;
  text-align: right;
}

.calc-container main {
  width: 100%;
  display: grid;
  gap: .25rem;
  grid-template-columns: repeat(4, 1fr);
}

button {
  padding: 1rem 0;
  font-size: 2rem;
  border-radius: .5rem;
  outline: none;
  border: unset;
  background-color: aliceblue;
}

button:hover {
  background-color: rgba(240, 248, 255, 0.663);
  cursor: pointer;
}

#btn-plus {
  background-color: rgb(247, 115, 159);
}

#btn-minus {
  background-color: rgb(245, 135, 172);
}

#btn-times {
  background-color: rgb(250, 168, 195);
}

#btn-divide {
  background-color: rgb(245, 195, 212);
}

footer {
  display: flex;
  width: 100%;
}

#calc-btn {
  width: 100%;
  margin-bottom: 1rem;
}

@media (max-width:480px) {
  .calc-container {
    width: 100%;
    min-width: 240px;
  }

  button {
    padding: 1rem 0;
    font-size: 1.5rem;
  }

  .calc-container header {
    font-size: 3rem;
  }
}

@media (max-width:320px) {}