* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 15px;
  font-family: cursive;
}

body {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  min-height: 100vh;
}

.container {
  padding: 1rem 2rem;
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  background-color: lightgreen;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .logo {
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.logo p {
  font-size: 2rem;
}

.search-form {
  display: flex;
  align-items: center;
}

.photo {
  padding: .5rem 1rem;
  margin: 0 auto;
  background-color: lightgray;
}

.photo img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

svg {
  height: 3rem;
  width: 3rem;
}

svg:hover {
  cursor: pointer;
}

main {
  padding: 1rem 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

input {
  width: 100%;
  padding: .5rem 1rem;
  border-radius: .5rem;
  outline: none;
  border: unset;
}


button {
  padding: .5rem 1rem;
  font-size: 1rem;
  background-color: transparent;
  border: unset;
  /* border-radius: .5rem; */
  align-self: flex-start;
}

svg:hover {
  cursor: pointer;
  font-weight: bold;
  color: salmon;
}

@media(max-width:768px) {
  main {
    grid-template-columns: repeat(2, 1fr);
  }

  .container {
    width: 100%;
    padding: 1.5rem 0.5rem;
  }

  .photo {
    width: 100%;
    background-color: lightgray;
  }

  .search-form {
    width: 100%;
  }

  header {
    flex-direction: column;
    gap: 1rem;
  }

  .logo p {
    font-size: 1.5rem;
  }
}

@media(max-width:500px) {
  .container {
    padding-left: 0;
    padding-right: 0;
  }

  main {
    grid-template-columns: 1fr;
  }

  .search-form {
    margin-top: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
  }

  .search-form input {
    font-size: 1.5rem;
    border-radius: unset;
  }

  .search-form button {
    align-self: center;
  }
}